@import 'colors';

.fakeradio {
	
	display: flex;

	a, button {
		padding:0.7rem 1rem;
		border:1px solid $gray;
		background-color: white;
		font-size: 1.4rem;
		// text-transform: uppercase;
	}
	
	button + button, a + a {
		margin-left:-1px;
	}

	button, a {
		border-radius: 0;
	}

	button:first-child, a:first-child{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	button:last-child, a:last-child{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
}

form {
	width: 50%;
	margin:auto;

	input, select, textarea, button {
		margin-bottom:10px;
		border-radius: 5px;
		border:1px solid $gray;
		background-color: #fbfcfc;
		width: 100%;
		padding:1em;
		font-size: 1.3rem;
	}

	label {
		font-size: 1.3rem;
		text-transform: uppercase;
		display: block;
	}

	label + .fakeradio
	label + select,
	label + input {
		margin-top: 4px;
	}

}
