/** LAYOUT **/

body {
	background-color: $lightgray;
}

body > nav {

	background-color: $blue;
	color: $gray;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 600;

	.athlete {
		img {
			width: 50px;
		}

		display: flex;
		background-color: $green;
		height: 90px;
		color:white;
		padding: 20px 15px;
		margin-bottom: 20px;
	}

	a {
		color:inherit;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding:1em;
		margin-top: 10px;
		line-height: 2em;

		&:hover {
			background-color: $darkblue;
			color:white;
			i.zmdi {
				color: $green;
			}
		}

		i.zmdi {
			font-size: 2em;
			margin-right: 0.5em;
			float:left;
			transition: 0.5s color;
		}

	}

	& > ul {
		list-style: none;
		margin:0;
		padding:0;
		
	}

}

header {

	height: 90px;
	background-color: white;

	.top {
		padding:0 1em;
		line-height: 90px;
		color: $gray;

		.shortcuts {
			i.zmdi {
				font-size: 2em;
				padding-right: 0.5em;
			}
		}
	}
}