@import 'colors';
@import 'tooltips';

.lab {
	@include subnav;

	section {
		margin: 45px;
		background-color: white;
		padding:1em;
		border-radius: 5px;

		h2 {
			text-transform: uppercase;
			font-size: 2rem;
			color: black;
		}
	}

	.wind-direction  {
		font-size: 3em;
	}
}