{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=calendar.scss">
{% endblock css %}

{% block content %}

{#
 time can be any string acceptable by http://www.php.net/strtotime, the
 template will output that time's month.
 If you don't want to pass in a date you can set time like this:
 {% set time = "now"|date("U") %}
 {% set time = "December 2012"|date("U") %}
 How ever you want to output items onto the calendar is a different issue,
 but I'd assume pushing everything into an array numerically indexed by that day:
 $days = array(1=>array('Something on the first'),31=>array('Halloween'));

 https://gist.github.com/aknosis/3932192
#}

	<div class="calendar2">

		<section>

			<table class="calendar-header">
				<thead>
					<tr>
						<!--<th width="14%">Monday</th>
						<th width="14%">Tuesday</th>
						<th width="14%">Wednesday</th>
						<th width="14%">Thursday</th>
						<th width="14%">Friday</th>
						<th width="15%">Saturday</th>
						<th width="15%">Sunday</th>-->
						<th>M</th>
						<th>T</th>
						<th>W</th>
						<th>T</th>
						<th>F</th>
						<th>S</th>
						<th>S</th>
					</tr>
				</thead>
			</table>

			<div class="table-wrapper">

				<table>
					
					<tbody>
						{% for month in months %}

							{% set curMonth = (month~'-01')|date %}
								
							{#% if dow == 6 %}<tr><!--start tr #3 -->{% endif %#}
							{% set daysInMonth = curMonth|date('t') %}
							{% set startDow = curMonth|date('F 1\\s\\t Y')|date('N') - 1 %}
							{% set dow = startDow %}
							{% for day in range(1,daysInMonth) %}

								{% set lastRowOfMonth = ((daysInMonth-day) <= 6) %}

								{% if loop.parent.loop.first and loop.first and startDow != 0 %}
									<td colspan="{{ startDow }}"></td>
								{% endif %}
								<td
									 class="
									 	{% if day > 15 %}
										 td-border-bottom
										{% else %}
										td-border-top
										  {% if day == 1 %}
											 td-first-day-of-month
										  {% endif %}
										{% endif %}
										">
									<div class="day-slot">
										<div onclick="javascript:this.classList.toggle('selected');" class="day-day{% if now|date('Y-m-d') == month~'-'~("%02d"|format(day)) %} today selected{% endif %}">
											{% if now|date('Y-m-d') == month~'-'~("%02d"|format(day)) %}
												<span class="day-month">Today</span>
											{% else %}
												<span class="day-month">{{curMonth|date('M')}}</span>
											{% endif %}
											{{ day }}
											<span class="day-year">{{curMonth|date('Y')}}</span>
										</div>
										<div class="day-list">
										
										{% for w in assoc_date[month~'-'~("%02d"|format(day))] %}
											<div class="day-event">
												{% if w.type == 'ride' %}
													<i class="zmdi zmdi-bike"></i>
												{% elseif w.type|lower == 'ppg' %}
													<i class="zmdi zmdi-run"></i>
												{% elseif w.type == 'race' %}
													<i class="zmdi zmdi-walk"></i>
												{% endif %}
												{{w.title}}
											</div>
										{% endfor %} {# end for events of day #}

										</div>
									</div>
								</td>
								{% if loop.parent.loop.last and loop.last and dow != 6 %}
									<td colspan="{{ 6 - dow }}">&nbsp;</td>
								{% endif %}
								{% if dow == 6 %}

									{% set dow = 0 %}
								</tr>
								<tr{% if lastRowOfMonth %} class="last-row-of-month"{% endif %}>
								{% elseif day != daysInMonth %}
									{% set dow = dow + 1 %}
								{% endif %}
							{% endfor %} {# end for daysInMonth #}

							{% if dow == 6 %}<tr>{% endif %}

						{% endfor %} {# end for months #}
					</tbody>
				</table>

			</div>

		</section>

		<aside>
			<h1>Event</h1>

			<p>Lorem ipsum sit amet</p>
		</aside>

	</div>

{% endblock content %}