{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=planning.scss">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/css/ngDialog.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/css/ngDialog-theme-default.css">

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock css %}

{% block content %}

	<div class="whitetilebox" ng-app="calendar" ng-controller="Calendar as c" ng-cloak>

		<section class="planning full-screen">
<!--{{ time|date('F') ~ ' ' ~ time|date('Y') }}-->

			<table>
				<tbody>
					<tr>
						<td>
							Semaine<br>
							Workouts : {{week_summaries[months[0]~'-01']['workouts']|length}}
						</td>

					{% set prevMonth = 'a' %}
					{% for key, month in months %}

						{% set curMonth = (month~'-01')|date %}

						{% set daysInMonth = curMonth|date('t') %}
						{% set startDow = curMonth|date('F 1\\s\\t Y')|date('N') - 1 %}
						{% set dow = startDow %}
						{% for day in range(1,daysInMonth) %}

							{% set formattedDay = month~'-'~("%02d"|format(day)) %}

							{% if loop.parent.loop.first and loop.first and startDow != 0 %}
							<td colspan="{{ startDow }}"></td>
							{% endif %}

							<td data-day="{{formattedDay}}" ng-mousedown="c.mousedown($event, this,'{{formattedDay}}')" {#onclick="javascript:this.classList.toggle('selected');"#} class="day {% if now|date('Y-m-d') == formattedDay %} today {% endif %}">
								<div>
									<div>{{ day }}</div>
									<div>
									{# day content here #}
										{#% for slot in data[formattedDay] %#}
										{% if data[formattedDay]|length > 0 %}
											
										{% for k in 0..max(data[formattedDay]|keys) %}
										
											{% if data[formattedDay][k] %}
												{% set slot = data[formattedDay][k] %}
												<div class="slot slot-type-{{slot.name|lower|fillblank}}">
													{% if slot.start|date('Y-m-d') == formattedDay or dow == 0 %}
														{{slot.name}}
													{% endif %}
												</div>
											{% else %}
												<div class="slot slot-empty">
													&nbsp;
												</div>
											{% endif %}
										{% endfor %}

										{% endif %}
									</div>
									{% if workouts[formattedDay]|length > 0 %}
									<div class="day-workouts">
										{% for w in workouts[formattedDay] %}
										<div data-workout="{{w.uuid}}">
											<a href="#" onclick="return false;">
											{% if w.type == 'ride' %}
												<i class="zmdi zmdi-bike"></i>
											{% elseif w.type|lower == 'ppg' %}
												<i class="zmdi zmdi-run"></i>
											{% elseif w.type == 'race' %}
												<i class="zmdi zmdi-walk"></i>
											{% endif %}
											{{w.title}}
											</a>
											<div class="workout-bubble">
												<div class="arrow_box">
													<b>{{w.title}}</b>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
									{% endif %}
								</div>
							</td>
							{% if loop.parent.loop.last and loop.last and dow != 6 %}
								<td colspan="{{ 6 - dow }}">&nbsp;</td>
							{% endif %}
							{% if dow == 6 %}

								{% set dow = 0 %}
								{% if ( day == daysInMonth or (day <= 6) ) %}
									{% if day == daysInMonth %}
										<td class="month-label">{{(months[key+1]~'-01')|date('F Y')}}</td>
									{% else %}
										<td class="month-label">{{(months[key]~'-01')|date('F Y')}}</td>
									{% endif %}
									{% set prevMonth = month %}
								{% else %}
									<td></td>
								{% endif %}
							</tr>
							<tr>
								<td>
									Semaine {{ (months[key]~'-'~("%02d"|format(day)))|date('W') }} <br>
									Workouts : {{(week_summaries[months[key]~'-'~("%02d"|format(day))]['workouts'])|length}}<br>
									Charge théorique : {{(week_summaries[months[key]~'-'~("%02d"|format(day))]['charge'])}}<br>
									Charge réelle : {{(week_summaries[months[key]~'-'~("%02d"|format(day))]['realcharge'])}}

								</td>
							
							{% elseif day != daysInMonth %}
								{% set dow = dow + 1 %}
							{% endif %}
						{% endfor %} {# end for daysInMonth #}

						{% if dow == 6 %}
							<td class="month-label">{{(months|last~'-01')|date('F Y')}}</td>
						<tr>
						{% endif %}

					{% endfor %} {# end for months #}
					</tr>
				</tbody>
			</table>

		</section>

	</div>

	<div id="overlay-container">
	</div>

	<div id="bubble">
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment-with-locales.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/js/ngDialog.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

	<script src="js/calendar.js"></script>

{% endblock content %}