{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=home.scss">
{% endblock css %}

{% block content %}

	{% set route_name = 'home_event' %}
	{% include "home/home.profil.html.twig" %}

	<section class="whitetilebox">

		<div>

			<h2>Evénements</h2>

			<p>Cette page rescence les événements de la vie qui peuvent avoir un impact sur votre entrainement.</p>
			<p>Ce peut être par exemple :</p>
			<ul>
				<li>Déplacement professionnel</li>
				<li>Grosse réunion stressante</li>
				<li>Ou tout autre chose impactant votre performance ...</li>
			</ul>

			<h3>Liste de vos évenements</h3>

			<div class="grid-4-small-2">
			{% for e in events %}
				<div>
					<h4>{{e.title}}</h4>
					<p>Date: {{e.date|date}}</p>
					<p>{{e.content|nl2br}}</p>
				</div>
			{% endfor %}
			</div>

			<p>Créez vos événements en utilisant le formulaire ci-dessous</p>

		</div>

		<div>

			<h2>Ajouter un événement</h2>

			<form method="POST">
				<label>Nom</label>
				<input type="text" name="title" placeholder="Malade">

				<label>Date</label>
				<input type="date" placeholder="Date" name="date"/>

				<label>Description de l'évenement</label>
				<textarea name="content" name="content" placeholder="Description de l'événement"></textarea>

				<hr>

				<input type="submit" value="Enregistrer">
			</form>

		</div>
	
	</section>

{% endblock %}