{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=home.scss">
{% endblock css %}

{% block content %}

	{% set route_name = 'home_forme' %}
	{% include "home/home.profil.html.twig" %}

	<section class="whitetilebox">

		<div>

			<h2>Forme</h2>

			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<div id="chart_div"></div>

<script>

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
	  data.addColumn('date', 'Date');
      data.addColumn('number', 'fitness');
	  data.addColumn('number', 'fatigue');
	  data.addColumn('number', 'performance');

      data.addRows([
		  {% for d in tsb %}
			  {{ d.data | join(',') }},
		  {% endfor %}
		]);



	  var options = {
        hAxis: {
          title: 'Semaines'
        },
        vAxis: {
          title: 'Charge'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

</script>

		</div>

	</section>

{% endblock %}