<section class="home-profil">

	<div class="grid-3">

		<div class="two-thirds">
			<img src="{{ app.session.strava.athlete.profile }}">

			<div>
				<h1>{{ app.session.strava.athlete.lastname }} {{ app.session.strava.athlete.firstname }}</h1>
				<p>{{ app.session.strava.athlete.city }}, {{ app.session.strava.athlete.state }}, {{ app.session.strava.athlete.country }}</p>
				<p>{{ activitiesCount|number_format(0, ',', ' ')}} activité{% if activitiesCount > 0 %}s{% endif %}</p>
			</div>
		</div>

		<div class="shortcuts one-third">
			<a href="#"><i class="zmdi zmdi-edit"></i></a>
		</div>

	</div>

	<nav class="tab-nav">
		<ul>
			<li><a{% if route_name == 'home' %} class="active"{% endif %} href="{{route('home')}}">Ma semaine</a></li>
			<li><a{% if route_name == 'home_forme' %} class="active"{% endif %} href="{{route('home_forme')}}">Ma forme</a></li>
			<li><a{% if route_name == 'home_objectif' %} class="active"{% endif %} href="#">Objectifs</a></li>
			<li><a{% if route_name == 'home_event' %} class="active"{% endif %} href="{{route('home_event')}}">Evénements</a></li>
			<li><a{% if route_name == 'home_me' %} class="active"{% endif %} href="{{route('home_me')}}">Paramètres</a></li>
		</ul>
	</nav>

</section>