{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=home.scss">
{% endblock css %}

{% block content %}

	{% set route_name = 'home_forme' %}
	{% include "home/home.profil.html.twig" %}

	<section class="whitetilebox">

		<div>

			<h2>Forme</h2>

			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<div id="chart_div" style="height:300px;"></div>

<script>

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
	  data.addColumn('string', 'Time');
	  data.addColumn('number', 'HR');
	  data.addColumn('number', 'Vitesse');

      data.addRows([
		  {% for d in tsb %}
			  {{ d.data | join(',') | raw }},
		  {% endfor %}
		]);

	  var options = {
        hAxis: {
		  title: 'Temps',
		  minorGuidelines: null,
			gridlines: {
				color: 'white'
			}
        },
        vAxis: {
		  title: 'HR',
		  baselineColor: "#ccc"
		},
		curveType: 'function',
		//legend: { position: 'bottom' }
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

</script>

		</div>

	</section>

{% endblock %}