<div class="workout-step workout-step-warm" id="main-step-1084" data-uuid="step-1084">
<span class="pull-left drag-handle" data-rel="tooltip" data-placement="right" title="" data-original-title="Faire glisser pour retrier"><i class="icon-drag-handle"></i></span>


<div class="step-component step-define">    <!-- Workout Step - Define the Step Type -->
    
    <select class="select select-step-type" name="select-step-type" data-rel="tooltip" title="" data-original-title="Modifier étape">
        <optgroup label="Sélectionner un type d'étape">
            
            
                <option value="warmup" data-step-type="workout-step-warm" class-name="" selected="">
                    Echauffement
                </option>
            
            
            
                <option value="interval" data-step-type="interval" class-name="workout-step-bike">
                    Vélo
                </option>
            
            
            
                <option value="recovery" data-step-type="workout-step-recover" class-name="">
                    Récupération
                </option>
            
            
            
                <option value="rest" data-step-type="workout-step-rest" class-name="">
                    Repos
                </option>
            
            
            
                <option value="cooldown" data-step-type="workout-step-cool" class-name="">
                    Etirements
                </option>
            
            
            
                <option value="other" data-step-type="workout-step-other" class-name="">
                    Autre
                </option>
            
            
        </optgroup>
    </select>
    </div><div class="step-component step-duration">    <!-- Workout Step - Duration -->
<span data-step-feature="duration">
	<select class="select select-step-duration" data-step-select="duration" name="duration">
        
        
        <option value="no.duration" data-duration-type="" class-name="">
            Sélectionnez une durée...
        </option>
        
        
        
        <option value="time" data-duration-type="time" class-name="">
            Temps...
        </option>
        
        
        
        <option value="distance" data-duration-type="distance" class-name="">
            Distance...
        </option>
        
        
        
        <option value="lap.button" data-duration-type="lap-button" class-name="">
            Appui sur touche Lap
        </option>
        
        
        
        <option value="calories" data-duration-type="cal" class-name="">
            Calories...
        </option>
        
        
        
        <option value="heart.rate.zone" data-duration-type="-1" class-name="">
            Fréquence cardiaque...
        </option>
        
        
        
        <option value="power.zone" data-duration-type="-1" class-name="">
            Puissance...
        </option>
        
        
    </select>

	<!-- Duration / "Resolved" UI -->
	<span id="duration-text" data-feature-val="duration" class="workout-step-value step-duration-zone hide">
		<span class="duration-text"></span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

	<!-- Duration / for input and edit -->
	<span id="duration-time" data-input="duration-time" class="workout-step-input step-duration-time step-duration-time hide">
		<label for="duration-time-001">Durée&nbsp;:&nbsp;</label>
		<span class="input-append">
			<input id="duration-time-001" type="text" class="input-small duration-time" autocomplete="off" name="duration-time" maxlength="9" placeholder="00:00">
			<span class="add-on">min:s</span>
		</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

	<span id="duration-distance" data-input="duration-distance" class="workout-step-input step-duration-distance step-duration-distance hide">
		<label for="duration-distance-001">Durée&nbsp;:&nbsp;</label>
		<input id="duration-distance-001" type="text" placeholder="00.0" autocomplete="off" name="duration-distance" class="input-small" value="" maxlength="5">
        <select name="distanceUnit">
            <option value="mile">mi</option>
            <option value="kilometer" selected="">km</option>
            <option value="meter">m</option>
        </select>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

	<span id="duration-lap.button" data-input="duration-lap-button" class="workout-step-value step-duration-lap-button hide">
		<span>Durée&nbsp;: Appui sur touche Lap</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

	<span id="duration-heart-rate.custom" data-input="duration-hr" class="workout-step-input step-duration-hr step-duration-hr hide">
		<label for="duration-hr-001">Durée&nbsp;:&nbsp;</label>
		<select name="heart-rate-select">
            <option value="gt">Au-dessus de</option>
            <option value="lt">En dessous de</option>
        </select>
		<span class="input-append">
			<input id="duration-hr-001" type="text" placeholder="000" autocomplete="off" class="input-mini" name="duration-heart-rate-custom" value="" maxlength="3">
			<span class="add-on">bpm</span>
		</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

	<span id="duration-power-zone.custom" data-input="duration-power" class="workout-step-input step-duration-power step-duration-power hide">
		<label for="duration-power-001">Durée&nbsp;:&nbsp;</label>

		<select name="power-zone-select">
            <option value="gt">Au-dessus de</option>
            <option value="lt">En dessous de</option>
        </select>
		<span class="input-append">
			<input id="duration-power-001" name="duration-power-zone-custom" type="text" placeholder="00" autocomplete="off" class="input-mini" value="" maxlength="3">
			<span class="add-on">W</span>
		</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

	<span id="duration-calories" data-input="duration-cal" class="workout-step-input step-duration-cal step-duration-cal hide">
		<label for="duration-cal-001">Durée&nbsp;:&nbsp;</label>
		<span class="input-append">
			<input id="duration-cal-001" type="text" placeholder="000" autocomplete="off" class="input-mini" name="duration-calories" value="" maxlength="3">
			<span class="add-on">Kcal</span>
		</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

    <span id="duration-rest-time" data-input="duration-rest-time" class="workout-step-input step-duration-fixed-rest hide">
		<label for="duration-rest-time-001">Durée&nbsp;:&nbsp;</label>
		<span class="input-append">
			<input id="duration-rest-time-001" type="text" class="input-small" autocomplete="off" name="duration-time" maxlength="8" placeholder="00:00">
			<span class="add-on">min:s</span>
		</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>

    <span id="duration-rep-time" data-input="duration-rep-time" class="workout-step-input step-duration-fixed-rep hide">
		<label for="duration-rep-time-001">Durée de répétition fixe&nbsp;:&nbsp;</label>
		<span class="input-append">
			<input id="duration-rep-time-001" type="text" class="input-small" autocomplete="off" name="duration-time" maxlength="8" placeholder="00:00">
			<span class="add-on">min:s</span>
		</span>
		<button class="inline-edit-cancel icon-close duration-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la durée"></button>
	</span>
</span>
    <!--eo: Workout Step - Duration -->
</div><div class="step-component step-target">    <!-- Workout Step - Intensity Targets -->
			<span data-step-feature="target">
                
                
				<a href="#" id="add-step-target" class="workout-step-value colored " data-target="add-step-target">Ajouter plus...</a>

				<select class="select select-step-target hide" data-step-select="target" name="select-step-target">
                    
                    
                    
                    <option value="no.target" data-target-type="" class-name="">
                        Sélectionnez une cible d'intensité...
                    </option>
                    
                    
                    
                    
                    
                    <option value="pace.zone" data-target-type="pace" class-name="">
                        Allure...
                    </option>
                    
                    
                    
                    
                    
                    <option value="speed.zone" data-target-type="speed" class-name="">
                        Vitesse...
                    </option>
                    
                    
                    
                    
                    
                    <option value="cadence" data-target-type="cadence" class-name="">
                        Cadence...
                    </option>
                    
                    
                    
                    
                    
                    <optgroup label="Zones de fréquence cardiaque..." data-help-text="Cible&nbsp;:" class="">
                        
                            <option value="heart.rate.zone" data-target-type="1" class-name="">
                            Zone de fréquence cardiaque 1 (Echauffement)
                            </option>
                        
                            <option value="heart.rate.zone" data-target-type="2" class-name="">
                            Zone de fréquence cardiaque 2 (Footing)
                            </option>
                        
                            <option value="heart.rate.zone" data-target-type="3" class-name="">
                            Zone de fréquence cardiaque 3 (Aérobie)
                            </option>
                        
                            <option value="heart.rate.zone" data-target-type="4" class-name="">
                            Zone de fréquence cardiaque 4 (Seuil)
                            </option>
                        
                            <option value="heart.rate.zone" data-target-type="5" class-name="">
                            Zone de fréquence cardiaque 5 (Maximum)
                            </option>
                        
                        <!-- displays custom for zones -->
                        <option value="heart.rate.zone" data-target-type="-1" class-name="">
                            Zone personnalisée...
                        </option>
                    </optgroup>
                    
                    
                    
                    
                    
                    <optgroup label="Zones de puissance..." data-help-text="Cible&nbsp;:" class="workouts-bike-only">
                        
                            <option value="power.zone" data-target-type="1" class-name="">
                            Zone de puissance 1
                            </option>
                        
                            <option value="power.zone" data-target-type="2" class-name="">
                            Zone de puissance 2
                            </option>
                        
                            <option value="power.zone" data-target-type="3" class-name="">
                            Zone de puissance 3
                            </option>
                        
                            <option value="power.zone" data-target-type="4" class-name="">
                            Zone de puissance 4
                            </option>
                        
                            <option value="power.zone" data-target-type="5" class-name="">
                            Zone de puissance 5
                            </option>
                        
                            <option value="power.zone" data-target-type="6" class-name="">
                            Zone de puissance 6
                            </option>
                        
                            <option value="power.zone" data-target-type="7" class-name="">
                            Zone de puissance 7
                            </option>
                        
                        <!-- displays custom for zones -->
                        <option value="power.zone" data-target-type="-1" class-name="">
                            Zone personnalisée...
                        </option>
                    </optgroup>
                    
                    
                    
                </select>

				<!-- Duration / "Resolved" UI -->
				<span data-feature-val="target" class="workout-step-value step-target-zone hide">
					<span class="target-text"></span>
					<button class="inline-edit-cancel icon-close target-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la cible"></button>
				</span>

				<!-- Target / for input and edit -->
				<span data-input="target-pace" class="workout-step-input step-target-pace step-target-pace hide">
					Cible&nbsp;: <input type="text" placeholder="00:00" name="target-pace-from" autocomplete="off" class="input-mini" value="" maxlength="9">
					à
					<span class="input-append">
						<input type="text" placeholder="00:00" autocomplete="off" name="target-pace-to" class="input-mini" value="" maxlength="9">
						<span class="add-on">min/km</span>
					</span>
					<button class="inline-edit-cancel icon-close target-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la cible"></button>
				</span>

				<span data-input="target-speed" class="workout-step-input step-target-speed step-target-speed hide">
					Cible&nbsp;: <input type="text" placeholder="00" autocomplete="off" name="target-speed-from" class="input-mini" value="" maxlength="4">
					à
					<span class="input-append">
						<input type="text" name="target-speed-to" placeholder="00" autocomplete="off" class="input-mini" value="" maxlength="4">
						<span class="add-on">K/H</span>
					</span>
					<button class="inline-edit-cancel icon-close target-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la cible"></button>
				</span>

				<span data-input="target-cadence" class="workout-step-input step-target-cadence step-target-cadence hide">
					Cible&nbsp;: <input type="text" placeholder="00" autocomplete="off" name="target-cadence-from" class="input-mini" value="" maxlength="4">
					à
					<span class="input-append">
						<input type="text" name="target-cadence-to" placeholder="00" autocomplete="off" class="input-mini" value="" maxlength="4">
						<span class="add-on">rpm</span>
					</span>
					<button class="inline-edit-cancel icon-close target-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la cible"></button>
				</span>

				<span data-input="target-hr" class="workout-step-input step-target-hr step-target-hr text-right hide">
					Cible&nbsp;: <input type="text" placeholder="000" autocomplete="off" class="input-mini" name="target-heart-rate-custom-from" value="" maxlength="3">
					à
					<span class="input-append">
						<input type="text" placeholder="000" autocomplete="off" class="input-mini" name="target-heart-rate-custom-to" value="" maxlength="3">
						<span class="add-on">bpm</span>
					</span>
					<button class="inline-edit-cancel icon-close target-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la cible"></button>
				</span>

				<span data-input="target-power" class="workout-step-input step-target-power step-target-power hide">
					Cible&nbsp;: <input type="text" placeholder="000" autocomplete="off" name="target-power-zone-custom-from" class="input-mini" value="" maxlength="3">
					à
					<span class="input-append">
						<input type="text" placeholder="000" autocomplete="off" class="input-mini" value="" name="target-power-zone-custom-to" maxlength="3">
						<span class="add-on">W</span>
					</span>
					<button class="inline-edit-cancel icon-close target-reset" data-rel="tooltip" title="" data-original-title="Réinitialiser la cible"></button>
				</span>
			</span>
    <!-- eo: Workout Step - Target -->
</div><div data-rel="tooltip" class="step-delete" title="" data-placement="left" data-original-title="Supprimer étape">
    <a class="icon-close" href="#"></a>
</div>
</div>