			<div ng-class="{'workout-step': step.type=='step', 'workout-repetition': step.type=='repetition'}" ng-repeat="(k,step) in psteps">
				
				<div ng-if="step.type=='step'">

					<p ng-bind="k+1"></p>

					<p ng-bind="wcr.describe(step);"></p>

					<div class="step-detail">

						<label>

							Intensité

							<select ng-model="step.intensity" name="workout-step-1-intensity" placeholder="Intensité de l\'entrainement">
								<option value="-">Allure libre</option>
								<option value="i1">I1 - Légère</option>
								<option value="i2">I2 - Moyenne</option>
								<option value="i3">I3 - Soutenue</option>
								<option value="i4">I4 - Critique</option>
								<option value="i5">I5 - Sur-critique</option>
								<option value="i6">I6 - Sous maximale</option>
								<option value="i7">I7 - Maximale</option>
							</select>
						</label>

						<p>
							<label>
								Cadence

								<select ng-model="step.cadence">
									<option value="-">Cadence libre</option>
									<option value="50"><= 50</option>
									<option value="70">50 - 70</option>
									<option value="80">80</option>
									<option value="90">90</option>
									<option value="100">100</option>
									<option value="110">110</option>
									<option value="120">120</option>
									<option value="max">Maximale</option>
								</select>
							</label>
						</p>

						<p>
							<label>
								Choix du critère d'achèvement
								<select ng-model="step.completion">
									<option value="-">Achèvement de l'étape</option>
									<option value="duration">Durée</option>
									<option value="distance">Distance</option>
									<option value="lap">Appui sur la touche lap</option>
								</select>
							</label>
						</p>

						<p ng-show="step.completion == '-'">
							Etape infinie, t'es motivé !
						</p>
						<p ng-show="step.completion == 'duration'">
							<label>
								Durée

								<input name="duration" type="time" step="1" ng-model="step.durationHtml" />
							</label>
						</p>
					
						<p ng-show="step.completion == 'distance'">
							<label>
								Distance
								<input ng-disabled="step.tolap" type="input" pattern="[0-9]+[\.,]?[0-9]{0,2}" ng-model="step.distance" />
							</label>
						</p>

						<p ng-show="step.completion == 'lap'">
							Appui sur la touche Lap
						</p>

						<p>
							<label>
								Note
								<input type="text" ng-model="step.note"/>
							</label>
						</p>

					</div>

				</div>

				<div ng-if="step.type=='repetition'">
					<input ng-model="step.repetition" type="number" min="2" max="40">

					<workout ng-if="step.steps" wcr="wcr" steps="step.steps"></workout>

					<div class="" ng-click="wcr.addStep(step.steps)">Ajouter une étape</div>
					<div class="" ng-click="wcr.addRepetition(step.steps)">Ajouter une répétition</div>

				</div>
			
			</div>