{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=lab.scss">
{% endblock css %}

{% block h1_title %}
	LAB
{% endblock h1_title %}

{% block content %}

	<div class="lab">

		<nav>
			<ul>
				<li>
					<a class="active" href="{{route('lab') }}">Météo</a>
				</li>
				<li><a href="{{route('lab_mongo')}}">Mongo</a></li>
				<li>
					<a href="#">Autre</a>
				</li>
			</ul>
		</nav>

		{% block subcontent %}{% endblock subcontent %}
	
	</div>

{% endblock content %}