{% extends "lab/layout.html.twig" %}

{% block subcontent %}

		<section>
			<h2>Liste des activités dans le mongo</h2>

			{#{% for a in coll %}
				<p>{{a.id}}</p>
			{% endfor %}#}
		</section>
	

{% endblock subcontent %}