<p>Multi days</p>

<p>Période : <span ng-bind="ctrl.slot.start"></span> à <span ng-bind="ctrl.slot.end"></span></p>

<form ng-submit="ctrl.save()">

	<label>
		Name
	</label>
	<input type="text" ng-model="ctrl.slot.name">

	<input ng-disabled="ctrl.saving" type="submit" class="button" value="Enregistrer"/>

</form>