
	<div class="">
		<form onsubmit="return false;">

			<label>Titre</label>
			<input type="text" ng-model="wcp.meta.title" placeholder="PPG - Jour #">

			<label>Date</label>
			<input name="workoutdate" type="date" placeholder="Date" ng-model="wcp.meta.date"/>

			<label>Description de l'activité</label>
			<textarea ng-model="wcp.meta.content" name="content" placeholder="Description de l'activité"></textarea>

			<hr>

			<button ng-click="wcp.save()">Enregistrer</button>

		</form>
	</div>