<form>

	<label>Choisissez le type d'entrainement</label>

<!-- todo ng-if values|length > 6 -->

	<select name="type" placeholder="Type de l\'entrainement"
			ng-model="type" ng-change="wc.change()"
			ng-if="false">
		<option value="ppg">PPG</option>
		<option value="ride">Entrainement</option>
		<option value="race">Course</option>
	</select>

<!-- ng-else -->

	<div class="fakeradio">
		<button ng-click="wc.setType('ppg')">PPG</button>
		<button ng-click="wc.setType('ride')">Entrainement</button>
		<button ng-click="wc.setType('race')">Course</button>
	</div>

</form>