{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=login.scss">
{% endblock css %}

{% block h1 %}
	Workouts
{% endblock h1 %}

{% block content %}

<section class="login-content">
	<a href="{{authorizationUrl}}">
		<img alt="Login With Strava" src="/img/btn_strava_connectwith_orange.png" />
	</a>
</section>

{% endblock content %}