{% extends "layout.html.twig" %}

{% block css %}
	{#{% parent() %}#}
	<link rel="stylesheet" type="text/css" href="/css?p=activity.scss">
{% endblock css %}

{% block content %}
<div class="activity_list">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<div id="chart_div"></div>
			<div id="chart_div_weekly"></div>
			<div id="curve_chart"></div>
			<div id="chart_div_m"></div>
			<div id="curve_chart_m"></div>

<script>

google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
	  data.addColumn('date', 'Date');
      data.addColumn('number', 'trimps');

      data.addRows([
		  {% for d in trimps %}
			  {{ d.data | join(',') }},
		  {% endfor %}
		]);



	  var options = {
			title: 'TRIMP pour chaque jour',
        hAxis: {
          title: 'Semaines'
        },
        vAxis: {
          title: 'Charge'
        }
	  };

      chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

	  chart.draw(data, options);
	  
	  data = new google.visualization.DataTable();
	  data.addColumn('string', 'Semaine');
      data.addColumn('number', 'trimps');

      data.addRows([
		  {% for d in weekly_trimps %}
			  {{ d.data | join(',') | raw }},
		  {% endfor %}
		]);



	  var options = {
        hAxis: {
          title: 'Semaines'
        },
        vAxis: {
          title: 'Charge'
        }
	  };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_weekly'));

	  chart.draw(data, options);

	    options = {
          title: 'TRIMP par semaines',
          curveType: 'function',
					legend: { position: 'bottom' },
					hAxis: {
						title: 'Semaines'
					},
					vAxis: {
						title: 'Charge'
					}
        };
	  var a = new google.visualization.LineChart(document.getElementById('curve_chart'));
	  a.draw(data, options);

	  data = new google.visualization.DataTable();
	  data.addColumn('string', 'Semaine');
      data.addColumn('number', 'trimps');

      data.addRows([
		  {% for d in monthly_trimps %}
			  {{ d.data | join(',') | raw }},
		  {% endfor %}
		]);



	  var options = {
        hAxis: {
          title: 'Semaines'
        },
        vAxis: {
          title: 'Charge'
        }
	  };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_m'));

	  chart.draw(data, options);

	    options = {
          title: 'TRIMP par mois',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
	  var a = new google.visualization.LineChart(document.getElementById('curve_chart_m'));
	  a.draw(data, options);
    }

</script>

{% endblock %}