	<p>Charge TRIMS : {{ TRIMS|number_format(3,',',' ') }}</p>
	<p>Charge TRIMS / h : {{ ((TRIMS*3600)/cumul)|number_format(3,',',' ') }}</p>

	<table border=1>
		<tr>
			<th>Step</th>
			<th>Temps</th>
			<th>Poucentage</th>
			<th>Charge</th>
		</tr>

	{% set charge_total = 0 %}
	{% for i,v in isie %}
		{% set charge = coef[i]*(v/60) %}
		{% set charge_total = charge_total+charge %}

		<tr>
			<td>I{{i}}</td>
			<td>{{helper.gmdate('H:i:s', v)}}</td>
			<td>
				{% if v != 0 %}
					{{((v*100)/cumul)|number_format(2,',',' ')}}%
				{% else %}
					0%
				{% endif %}
			</td>
			<td>{{ charge|number_format(3,',',' ') }}</td>
		</tr>

	{% endfor %}
	</table>

	<p>Charge ESIE : {{charge_total|number_format(3,',',' ')}}</p>
	<p>Charge ESIE / h : {{ ((charge_total*3600)/cumul)|number_format(3,',',' ') }}</p>

	{# <p><b>Poucentage de réusite de l'exercice : {{ precent_reussite|number_format(2) }}</b></p> #}

	<canvas id="myChart" width="400" height="150"></canvas>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

	<script>
		var data = {{ detail|raw }};
	</script>
	<script src="/files/detail.js"></script>