{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=activity.scss">
{% endblock css %}

{% block h1 %}
	Détail Strava
{% endblock h1 %}

{% block content %}

	<div class="whitetilebox">

		<section>

			<h2>Activité {{act.uuid}}</h2>

			<p>Temps cumulé (s) : {{ cumul }}</p>
			<p>Temps cumulé : {{ formatted_cumul }}</p>
			
			{% include "activity/detail." ~ type ~ ".html.twig" %}

		</section>

	</div>

{% endblock content %}