
{% extends "layout.html.twig" %}

{% block css %}
	{#{% parent() %}#}
	<link rel="stylesheet" type="text/css" href="/css?p=activity.scss">
{% endblock css %}

{% block content %}
<div class="activity_list">
	<table border=1>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Date</th>
				<th>TRIMP</th>
				<th>ESIE</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>

		{% for a in activities %}
			<tr>
				<td>{{ a.name }}</td>
				<td>{{ a.start_date|bsonutcdate('d/m/Y H:i:s') }}</td>
				<td>{% if a.trimp %}{{ a.trimp }}{% endif %}</td>
				<td>{% if a.scores.isie %}{{ a.scores.isie }}{% endif %}</td>
				<td>
					<a href="{{ route('activity_detail', [a.id]) }}"><i class="zmdi zmdi-eye"></i></a>
				</td>
			</tr>
		{% endfor %}
		
		</tbody>

	</table>
</div>
{% endblock content %}