
{% extends "layout.html.twig" %}

{% block h1title %}Synchronisation démarrée{% endblock %}

{% block content %}

	<p>Cette opération est asynchrone.</p>
	<p><a href="{{route('home')}}">Retourner au dashboard</a></p>

{% endblock content %}