{#
 time can be any string acceptable by http://www.php.net/strtotime, the
 template will output that time's month.

 If you don't want to pass in a date you can set time like this:
 {% set time = "now"|date("U") %}
 {% set time = "December 2012"|date("U") %}

 How ever you want to output items onto the calendar is a different issue,
 but I'd assume pushing everything into an array numerically indexed by that day:
 $days = array(1=>array('Something on the first'),31=>array('Halloween'));

#}
	<table>
		<thead>
			<tr>
				<th colspan="8">
					{{ time|date('F') ~ ' ' ~ time|date('Y') }}
				</th>
			</tr>
			<tr>
				<th>Lu</th>
				<th>Ma</th>
				<th>Me</th>
				<th>Je</th>
				<th>Ve</th>
				<th>Sa</th>
				<th>Di</th>
				<!--<th></th>-->
			</tr>
		</thead>
		<tbody>
			<tr>
			{% set daysInMonth = time|date('t') %}
			{% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
			{% set dow = startDow %}
			{% for day in range(1,daysInMonth) %}
				{% if loop.first and startDow != 0 %}
					<td colspan="{{ startDow }}"></td>
				{% endif %}
				<td onclick="javascript:this.classList.toggle('selected');" class="{% if now|date('Y-m-d') == month~'-'~("%02d"|format(day)) %} today selected{% endif %}">
					<div>
						<div>{{ day }}</div>
						<div>
						 {# day content here #}
							{% for slot in data[month~'-'~("%02d"|format(day))] %}
							<div class="slot slot-type-{{slot.name|lower|fillblank}}">&nbsp;{#{slot.name}#}</div>
							{% endfor %}
						</div>
						{% if show_workouts %}
						<div>
							{% for w in workouts[month~'-'~("%02d"|format(day))] %}
							<div>{{w.title}}</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</td>
				{% if loop.last and dow != 6 %}
					<td colspan="{{ 6 - dow }}">&nbsp;</td>
				{% endif %}
				{% if dow == 6 %}
					{% set dow = 0 %}
					<td>
						<!-- Fin de semaine -->
					</td>
				</tr>
				{% else %}
					{% set dow = dow + 1 %}
				{% endif %}
			{% endfor %}
				<td>
					<!-- Fin de semaine -->
				</td>
			</tr>
			<tr style="vertical-align:bottom;">
				<td colspan="7">
					<div class="legend">
						{% for l in legend[month] %}
						<div><span class="slot-type-{{l.name|lower|fillblank}}">&nbsp;</span>{{l.name}}</div>
						{% endfor %}
					</div>
				</td>
			</tr>
		</tbody>
	</table>