{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=planning.scss">
{% endblock css %}

{% block content %}

	<div class="whitetilebox">

		<section class="planning">

			<div class="flex-container">

				<div class="w600p">

					<div class="grid-3-small-2 has-gutter">
						{% for month in months %}

							{% set time = (month~'-01')|date("U") %}

							{% include "planning/_calendar_month.html.twig" %}

						{% endfor %}

					</div>

				</div>

				<div class="flex-item-fluid">
					Truc
				</div>

			</div>

		</section>

	</div>

{% endblock content %}