{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=planning.scss">
{% endblock css %}

{% block content %}

	<div class="whitetilebox">

		<section class="planning full-screen">

			<div class="">

				<div class="">

					<div class="">
						{% set show_workouts = true %}
						{% for month in months %}

							{% set time = (month~'-01')|date("U") %}

							{% include "planning/_calendar_month.html.twig" %}

						{% endfor %}

					</div>

				</div>

				<div class="flex-item-fluid">
					Truc
				</div>

			</div>

		</section>

	</div>

{% endblock content %}