{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=home.scss">
{% endblock css %}

{% block content %}

	{% set route_name = 'home' %}
	{% include "home/home.profil.html.twig" %}

	<section class="home-content">

		<div class="grid-3-small-2 has-gutter">

			<div class="workouts">
				
				<div class="header grid-2 txtcenter">
					<div class="active">
						<p class="number">{{workouts.today|length}}</p>
						<p class="number_legend">Workout{% if workouts.today|length > 1 %}s{% endif %} aujourd'hui</p>
					</div>
					<div>
						<p class="number">{{workouts.tomorrow|length}}</p>
						<p class="number_legend">Workout{% if workouts.today|length > 1 %}s{% endif %} demain</p>
					</div>
				</div>

				{% for w in workouts.today %}
					<div class="row">
						<a href="{{route('workout_detail',[w.uuid])}}">
							{% if w.type == 'ride' %}
								<i class="zmdi zmdi-bike"></i>
							{% elseif w.type == 'ppg' %}
								<i class="zmdi zmdi-run"></i>
							{% elseif w.type == 'race' %}
								<i class="zmdi zmdi-walk"></i>
							{% endif %}
							{{w.title}}
						</a>
					</div>
				{% else %}
					<div class="row">
						<p class="rest">Repos ! Profite !</p>
					</div>
					<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
				{% endfor %}

				<div class="more">
					<a href="{{route('workout_list')}}">Voir plus <i class="zmdi zmdi-arrow-right"></i></a>
				</div>
			
			</div>

			<div class="todo">

				<div class="header grid-2 txtcenter">
					<div class="active">
						<p class="number">{{workouts.thisweek|length}}</p>
						<p class="number_legend">Workout{% if workouts.thisweek|length > 1 %}s{% endif %} cette semaine</p>
					</div>
					<div>
						<p class="number">{{ (workouts.thisweek_todo_count)}}</p>
						<p class="number_legend">Réalisés</p>
					</div>
				</div>

				{% for w in workouts.thisweek|slice(0, 5) %}
					<div class="row">
						<a href="{{route('workout_detail',[w.uuid])}}">
							{% if w.type == 'ride' %}
								<i class="zmdi zmdi-bike"></i>
							{% elseif w.type == 'ppg' %}
								<i class="zmdi zmdi-run"></i>
							{% elseif w.type == 'race' %}
								<i class="zmdi zmdi-walk"></i>
							{% endif %}
							{{w.title}}
						</a>
					</div>
				{% else %}
					<div class="row">
						<p class="rest">Repos ! Profite !</p>
					</div>
					<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
				{% endfor %}

				<div class="more">
					<a href="{{route('workout_list')}}?filter=week">Voir plus <i class="zmdi zmdi-arrow-right"></i></a>
				</div>

			</div>

			<div class="to-comment">
				
				<div class="header grid-2 txtcenter">
					<div class="active">
						<p class="number">{{workouts.to_classify|length}}</p>
						<p class="number_legend">à commenter</p>
					</div>
					<div>
						<p class="number">{{workouts.classified}}</p>
						<p class="number_legend">Commenté{% if workouts.classified > 1 %}s{% endif %}</p>
					</div>
				</div>

				{% for w in workouts.to_classify %}
					<div class="row">
						<a href="{{route('workout_detail',[w.uuid])}}">
							{% if w.type == 'ride' %}
								<i class="zmdi zmdi-bike"></i>
							{% elseif w.type == 'ppg' %}
								<i class="zmdi zmdi-run"></i>
							{% elseif w.type == 'race' %}
								<i class="zmdi zmdi-walk"></i>
							{% endif %}
							{{w.title}}
						</a>
					</div>
				{% else %}
					<i class="zmdi zmdi-check"></i>
					<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
				{% endfor %}

				{% if workouts.to_classify|length > 0 %}
				<div class="more">
					<a href="#">Voir plus <i class="zmdi zmdi-arrow-right"></i></a>
				</div>	
				{% endif %}
				
			
			</div>
		
		</div>

		<div class="workout">

			<h2>Entrainement du jour</h2>

			{% for w in workouts.today %}
				<h3>{{w.type}} - {{w.title}}</h3>
				<p>{{w.content | nl2br}}</p>
			{% else %}
				<p>Repos ! Profite !</p>
				<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
			{% endfor %}
		
		</div>

		<div class="whitetile">

			<h2>Alertes</h2>

			{% if not workouts.todo is empty %}
				<p>Tu dois encore commenter les sorties suivantes :</p>
				{% for w in workouts.todo %}
					<p><a href="{{ route('workout_detail', [w.uuid]) }}">{{w.title}} le {{w.date}}</a></p>
				{% endfor %}
			{% endif %}

		</div>
	
	</section>

{% endblock %}