				<div class="header grid-2 txtcenter">
					<div class="active">
						<p class="number">{{showed|length}}</p>
						<p class="number_legend">Workout{% if showed|length > 1 %}s{% endif %} aujourd'hui</p>
					</div>
					<div>
						<p class="number">{{hidden|length}}</p>
						<p class="number_legend">Workout{% if hidden|length > 1 %}s{% endif %} demain</p>
					</div>
				</div>

				{% for w in showed %}
					<div class="row">
						<p>
							{% if w.type == 'ride' %}
								<i class="zmdi zmdi-bike"></i>
							{% elseif w.type == 'ppg' %}
								<i class="zmdi zmdi-run"></i>
							{% elseif w.type == 'race' %}
								<i class="zmdi zmdi-walk"></i>
							{% endif %}
							{{w.content}}
						</p>
					</div>
				{% else %}
					<div class="row">
						<p>Repos ! Profite !</p>
					</div>
					<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
				{% endfor %}

				<div class="more">
					<a href="#">Show more <i class="zmdi zmdi-arrow-right"></i></a>
				</div>