<!doctype html>
<html>
    <head>
		<title>{% block title %}Home{% endblock %} - Training</title>

        <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" type="text/css" href="/css?p=main.scss">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

        {% block css %}{% endblock css %}
        
	</head>
    <body class="flex-container">

        <nav class="w200p">

            <div class="athlete">
                <img src="{{app.session.strava.athlete.profile}}">
                <div class="center">
                    {{ app.session.strava.athlete.lastname }}<br>
                    {{ app.session.strava.athlete.firstname }}
                </div>
            </div>

            <ul>
                <li><a href="{{ route('home') }}"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a></li>
                <li><a href="{{ route('calendar') }}"><i class="zmdi zmdi-calendar"></i>Calendar</a></li>
                <li><a href="{{route('planning')}}"><i class="zmdi zmdi-chart-donut"></i>Planification</a></li>
                <li><a href="{{ route('activity_list') }}"><i class="zmdi zmdi-bike"></i>Activités</a></li>
                <li><a href="{{ route('workout') }}"><i class="zmdi zmdi-view-list"></i>Workouts</a></li>
                <li><a href="{{ route('lab') }}"><i class="zmdi zmdi-ticket-star"></i>Lab</a></li>
                <li><a href="{{ route('settings') }}"><i class="zmdi zmdi-settings"></i>Configuration</a></li>
            </ul>
        </nav>

        <div class="flex-item-fluid">

            <header>

                <div class="top grid-3">
                    <div class="shortcuts">
                        <i class="zmdi zmdi-account-o"></i>
                        <i class="zmdi zmdi-notifications-none"></i>
                        <i class="zmdi zmdi-notifications"></i>
                    </div>
                    <div class="txtcenter">
                        <a href="{{route('home')}}"><img src="/icons/ms-icon-70x70.png"></a>
                    </div>
                    <div class="shortcuts txtright">
                        <a href="#"><i class="zmdi zmdi-plus"></i></a>
                        <a href="{{route('activity_sync')}}"><i class="zmdi zmdi-refresh-sync"></i></a>
                        <a href="{{route('logout')}}"><i class="zmdi zmdi-power"></i></a>
                    </div>
                </div>

                
            </header>
            
            {% block h1title %}{% endblock %}

            {% block content %}WHAT THE FUCK{% endblock %}
        
        </div>

    </body>
</html>