{% for step in steps %}
	{% if step.type == 'repetition' %}
		{% set steps = step.steps %}
		{% include "workout/_workout.steps.html.twig" %}
	{% else %}
		<div>
			<p><b>Intensitée</b> : {{step.intensity}}</p>
			<p><b>Temps</b> : {{step.duration}}</p>
			<p><b>Cadence</b> : {{step.cadence}}</p>
			<p><b>Completion</b> : {{step.completion}}</p>
		</div>
	{% endif %}
{% endfor %}