{% extends "workout/layout.html.twig" %}

{% block subcontent %}

	<div class="workout-content">

		<div class="workout-creator" ng-app="workoutCreator">
			<div ng-view></div>
		</div>

	</div>

<style>

	#workout {
		width: 40%;
	}

	.workout-step {
		border:1px solid gray;
		padding:1em;
		margin:1em 0;
		background-color:lightblue;
	}

	/*.workout-step .step-detail {
		height:0;
		display:none;
		transition: 0.4s ease all;
	}

	.workout-step:focus .step-detail {
		height: auto;
		display: block;
	}*/

	.workout-repetition {
		border: 1px solid darkgreen;
		padding:1em;
		margin:1em 0;
		background-color:lightgreen;
	}

	canvas { display:none; border: 1px solid black; }

</style>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment-with-locales.js"></script>
<script src="/js/workout_creator_ride.js"></script>

{% endblock subcontent %}
