{% extends "workout/layout.html.twig" %}

{% block subcontent %}
	
	<section>

		<h2>Détails du workout</h2>

		<h3>{{workout.title}}</h3>

		<p><b>Date</b> : {{workout.date|date('d/m/Y')}}</p>
		<p><b>Type</b> : {{workout.type}}</p>
		<p><b>Description</b> : <br>{{workout.content|nl2br}}</p>

		<p><b>Notes</b> : {{workout.notes|nl2br}}</p>
		<p><b>Durée</b> : {{workout.duration}}</p>
		<p><b>Difficulté ressentie</b> : {{workout.difficulty}}</p>
		
		{% if workout.activityId %}
			<p><b>Activité liée</b> : <a href="{{ route('activity_detail', [workout.activityId]) }}">{{workout.activityId}}</a></p>
		{% endif %}

	</section>

	<section>
		<h2>Etapes</h2>

		{% set steps = workout.steps %}
		{% include "workout/_workout.steps.html.twig" %}
	</section>

	<section>

		{% if matches|length > 0 %}
			<h2>Match trouvé</h2>

			{% if matches|length == 1 %}

				{% set match = matches|first %}

				<p><b>{{match.name}}</b></p>
				<p>Durée : {{ helper.gmdate('H:i:s', match.moving_time) }}</p>
				<p>{{match.description|nl2br}}</p>

				<p>
					{% if extended == false %}<a class="button" href="?extended=true">Chercher plus</a>{% endif %}
					<a class="button" href="{{ route('workout_match', [workout.uuid, match.id]) }}">Valider</a>
				</p>

				<p>Vous ne trouvez pas l'activité qui correspond à votre workout ?</p>
				
				<p>
					{% if extended == false %}<a class="button" href="?extended=true">Match extended</a>{% endif %}
					<a class ="button" href="{{ route('workout_to_activity', [workout.uuid]) }}">Créer l'activité</a>
				</p>

			{% else %}

				<div class="match-list">
					{% if extended %}
						<h3>Match étendu</h3>
					{% endif %}

					{% for match in matches %}
						<a href="{{ route('workout_match', [workout.uuid, match.id])}}">
							<p><b>{{match.name}}</b></p>
							<p>{{ match.start_date_local|mongodate('d-m-Y') }}</p>
							<p>Durée : {{ helper.gmdate('H:i:s', match.moving_time) }}</p>
							<p>{{match.description|nl2br}}</p>
						</a>
					{% endfor %}
				</div>

				<p>Vous ne trouvez pas l'activité qui correspond à votre workout ?</p>

				<p>
					{% if extended == false %}<a class="button" href="?extended=true">Match extended</a>{% endif %}
					<a class ="button" href="{{ route('workout_to_activity', [workout.uuid]) }}">Créer l'activité</a>
				</p>

			{% endif %}

		{% elseif workout.activityId is null %}

			<h2>Aucun match</h2>

			<p>Nous n'avons pas détecté de match entre ce workout et vos activités</p>
			<p>Créez manuellement (et automatiquement) l'activité correpondante à ce workout sur [Strava]</p>

			<p><a class="button w50" href="{{ route('workout_to_activity', [workout.uuid]) }}">Créer</a></p>

		{% elseif workout.activityId is not null %}

			<h2>Activité liée :-)</h2>
			<a target="_blank" href='https://www.strava.com/activities/{{workout.activityId}}/' class="button txtcenter w25">Voir sur Strava</a>
			<br>
			<a href="{{route('workout_unmatch', [workout.uuid])}}" class="button button-warning txtcenter w25">Délier</a>

		{% endif %}

	</section>

	<section>

		<h2>Modification du workout</h2>

		<form action="{{route('workout_edit',[workout.uuid])}}" method="POST">

			<p><b>Modifier :</b></p>

			<p>Notes : <textarea name="notes">{{workout.notes}}</textarea></p>
		
			<p>Durée : <input name="duration" type="time" value="{{workout.duration}}" step="1"/></p>
		
			<p>Difficulté : <select name="difficulty">
			{% for i in 1..10 %}
				<option value="{{i}}"{% if workout.difficulty == i %} selected="selected"{% endif %}>{{i}}</option>
			{% endfor %}
			</select></p>
		
			<input type="submit" value="Enregistrer">
		
		</form>

	</section>

	<div>
		<a href="{{route('workout_edit',[workout.uuid])}}" class="button">Modifier</a>
		<br>
		<a onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce workout ?'));" href="{{route('workout_delete',[workout.uuid])}}" class="button button-danger">Supprimer</a>
	</div>

	<style>
		.match-list > a {
			display: table-row;
			border: 1px solid black;
			border-collapse: collapse;
			cursor: pointer;
			text-decoration: none;
			color: inherit;
		}
		.match-list > a:hover {
			background-color: #DDD;
		}
		.match-list > a > p {
			display: table-cell;
			padding: 10px;
		}
		
	</style>

{% endblock subcontent %}