{% extends "workout/layout.html.twig" %}

{% block subcontent %}

	<!--<a class="button w50" href="{{ route('workout_creator') }}">Nouveau workout <i class="zmdi zmdi-arrow-right"></i></a>-->

	<div class="grid-3-small-2 has-gutter">

		<div class="workouts-today">
			
			<div class="header txtcenter">
				<p class="number">{{workouts.today|length}}</p>
				<p class="number_legend">Workout{% if workouts.today|length > 1 %}s{% endif %} aujourd'hui</p>
			</div>

			{% for w in workouts.today %}
				<div class="row">
					<a href="{{route('workout_detail',[w.uuid])}}">
						{% if w.type == 'ride' %}
							<i class="zmdi zmdi-bike"></i>
						{% elseif w.type == 'ppg' %}
							<i class="zmdi zmdi-run"></i>
						{% elseif w.type == 'race' %}
							<i class="zmdi zmdi-walk"></i>
						{% endif %}
						{{w.content}}
					</a>
				</div>
			{% else %}
				<div class="row">
					<p class="rest">Repos ! Profite !</p>
				</div>
				<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
			{% endfor %}

			{#<div class="more">
				<a href="{{route('workout_list')}}">Voir plus <i class="zmdi zmdi-arrow-right"></i></a>
			</div>#}
		
		</div>

		<div class="workouts-tommorow">
			
			<div class="header txtcenter">
				<p class="number">{{workouts.tomorrow|length}}</p>
				<p class="number_legend">Workout{% if workouts.tomorrow|length > 1 %}s{% endif %} demain</p>
			</div>

			{% for w in workouts.tomorrow %}
				<div class="row">
					<a href="{{route('workout_detail',[w.uuid])}}">
						{% if w.type == 'ride' %}
							<i class="zmdi zmdi-bike"></i>
						{% elseif w.type == 'ppg' %}
							<i class="zmdi zmdi-run"></i>
						{% elseif w.type == 'race' %}
							<i class="zmdi zmdi-walk"></i>
						{% endif %}
						{{w.content}}
					</a>
				</div>
			{% else %}
				<div class="row">
					<p class="rest">Repos ! Profite !</p>
				</div>
				<!--<iframe src="//giphy.com/embed/138TxteVy9zo4M" width="360" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/couch-gag-138TxteVy9zo4M">via GIPHY</a></p>-->
			{% endfor %}

			{#<div class="more">
				<a href="{{route('workout_list')}}">Voir plus <i class="zmdi zmdi-arrow-right"></i></a>
			</div>#}
		
		</div>

	</div>



	<div class="grid-2 has-gutter">

		<div>
			<h2>A classifier</h2>

			{% for w in workouts.todo %}
				<p><a href="{{route('workout_detail',[w.uuid])}}">{{w.title}} le {{w.date|date('d/m/Y')}}</a></p>
			{% else %}
				<p>T'es à jour, bien joué !</p>
			{% endfor %}
		</div>

		<div>
			<h2>Match Strava</h2>

			{% for w in workouts.notstrava %}
				<p><a href="{{ route('workout_detail', [w.uuid]) }}">{{w.title}} le {{w.date|date('d/m/Y')}}</a></p>
			{% else %}
				<p>T'es à jour, bien joué !</p>
			{% endfor %}
		</div>
	</div>

{% endblock subcontent %}