{% extends "workout/layout.html.twig" %}

{% block subcontent %}
	{# <form action="/workout/add" method="POST">
		<input name="workoutdate" type="date" placeholder="Date de l\'entrainement"/>
		<select name="type" placeholder="Type de l\'entrainement">
			<option value="ppg">PPG</option>
			<option value="ride">Entrainement</option>
			<option value="race">Course</option>
		</select>
		<textarea name="content" placeholder="Description de l\'entrainement"></textarea>
		<input type="submit" value="Créer"/>
	</form> #}

	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Titre</th>
				<th>Type</th>
				<th>Description</th>
				<th>Notes</th>
				<th>Durée</th>
				<th>Difficulté ressentie</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for w in workouts %}
			<tr>
				<td>{{w.date|date('d/m/Y')}}</td>
				<td>{{w.title}}</td>
				<td>{{w.type}}</td>
				<td>{{w.content|nl2br}}</td>
				<td>{{w.notes|nl2br}}</td>
				<td>{{w.duration}}</td>
				<td>{{w.difficulty}}</td>
				<td>
					<a href="{{route('workout_detail', [w.uuid])}}">Détail</a><br>
					<a href="{{route('workout_edit', [w.uuid])}}">Edit</a> 
				</td>
			</tr>	
			{% endfor %}
		</tbody>
	</table>
{% endblock subcontent %}