{% extends "workout/layout.html.twig" %}

{% block subcontent %}
	
	<section class="grid-2 has-gutter">

		<div>
			<h2>Détails du workout</h2>

			<h3>{{workout.title}}</h3>

			<p><b>Date</b> : {{workout.date|date('d/m/Y')}}</p>
			<p><b>Type</b> : {{workout.type}}</p>
			<p><b>Description</b> : <br>{{workout.content|nl2br}}</p>

			<p><b>Notes</b> : {{workout.notes|nl2br}}</p>
			<p><b>Durée</b> : {{workout.duration}}</p>
			<p><b>Difficulté ressentie</b> : {{workout.difficulty}}</p>
		</div>

		<div>
		
			<h2>Activité</h2>

			<h3>{{ activity.name }}</h3>

			<p><b>Date</b> : {{activity.start_date_local|mongodate('d/m/Y H:i:s')}}</p>

			<p><b>Type</b> : {{ activity.type }}</p>

			<p><b>Description</b> <br>
			{% if activity.description %}
				{{ activity.description|nl2br }}
			{% else %}
				Pas encore de description
			{% endif %}
			</p>

			<p><b>Durée</b> : {{ helper.gmdate('H:i:s', activity.moving_time) }}</p>

			{% if activity.manual %}
				<p><b>Activité créée manuellement</b></p>
			{% endif %}

		</div>

	</section>

	<a class="button txtcenter" href="{{ route('workout_match_validate', [workout.uuid, activity.id]) }}">Valider le match</a>

{% endblock subcontent %}