{% extends "workout/layout.html.twig" %}

{% block subcontent %}
	
	<section>
		<h2>Détails du workout</h2>

		<div class="cell">
		
			<p><b>Date</b> : {{workout.date|date('d/m/Y')}}</p>
			<p><b>Type</b> : {{workout.type}}</p>
			<p><b>Date</b> : <br>{{workout.content|nl2br}}</p>

		</div>

		<div class="cell">

			<p><b>Notes</b> : {{workout.notes|nl2br}}</p>
			<p><b>Durée</b> : {{workout.duration}}</p>
			<p><b>Difficulté ressentie</b> : {{workout.difficulty}}</p>

		</div>



		<h2>Activité</h2>

		<form method="POST">

			<label>Name</label>
			<input type="text" name="name" value="{{ workout.title }}">

			{% set formattedType = helper.ucfirst(workout.type) %}
			<label>Type</label>
			<select name="type">
				<option value="Ride" {% if formattedType == 'Ride' %}selected="selected"{% endif %}>Ride</option>
				<option value="Kitesurf" {% if formattedType == 'Kitesurf' %}selected="selected"{% endif %}>Kitesurf</option>
				<option value="Run" {% if formattedType == 'Run' %}selected="selected"{% endif %}>Run</option>
				<option value="NordicSki" {% if formattedType == 'NordicSki' %}selected="selected"{% endif %}>NordicSki</option>
				<option value="Swim" {% if formattedType == 'Swim' %}selected="selected"{% endif %}>Swim</option>
				<option value="RockClimbing" {% if formattedType == 'RockClimbing' %}selected="selected"{% endif %}>RockClimbing</option>
				<option value="Hike" {% if formattedType == 'Hike' %}selected="selected"{% endif %}>Hike</option>
				<option value="RollerSki" {% if formattedType == 'RollerSki' %}selected="selected"{% endif %}>RollerSki</option>
				<option value="Walk" {% if formattedType == 'Walk' %}selected="selected"{% endif %}>Walk</option>
				<option value="Rowing" {% if formattedType == 'Rowing' %}selected="selected"{% endif %}>Rowing</option>
				<option value="AlpineSki" {% if formattedType == 'AlpineSki' %}selected="selected"{% endif %}>AlpineSki</option>
				<option value="Snowboard" {% if formattedType == 'Snowboard' %}selected="selected"{% endif %}>Snowboard</option>
				<option value="BackcountrySki" {% if formattedType == 'BackcountrySki' %}selected="selected"{% endif %}>BackcountrySki</option>
				<option value="Snowshoe" {% if formattedType == 'Snowshoe' %}selected="selected"{% endif %}>Snowshoe</option>
				<option value="Canoeing" {% if formattedType == 'Canoeing' %}selected="selected"{% endif %}>Canoeing</option>
				<option value="StairStepper" {% if formattedType == 'StairStepper' %}selected="selected"{% endif %}>StairStepper</option>
				<option value="Crossfit" {% if formattedType == 'Crossfit' %}selected="selected"{% endif %}>Crossfit</option>
				<option value="StandUpPaddling" {% if formattedType == 'StandUpPaddling' %}selected="selected"{% endif %}>StandUpPaddling</option>
				<option value="EBikeRide" {% if formattedType == 'EBikeRide' %}selected="selected"{% endif %}>EBikeRide</option>
				<option value="Surfing" {% if formattedType == 'Surfing' %}selected="selected"{% endif %}>Surfing</option>
				<option value="Elliptical" {% if formattedType == 'Elliptical' %}selected="selected"{% endif %}>Elliptical</option>
				<option value="VirtualRide" {% if formattedType == 'VirtualRide' %}selected="selected"{% endif %}>VirtualRide</option>
				<option value="IceSkate" {% if formattedType == 'IceSkate' %}selected="selected"{% endif %}>IceSkate</option>
				<option value="WeightTraining" {% if formattedType == 'WeightTraining' %}selected="selected"{% endif %}>WeightTraining</option>
				<option value="InlineSkate" {% if formattedType == 'InlineSkate' %}selected="selected"{% endif %}>InlineSkate</option>
				<option value="Windsurf" {% if formattedType == 'Windsurf' %}selected="selected"{% endif %}>Windsurf</option>
				<option value="Kayaking" {% if formattedType == 'Kayaking' %}selected="selected"{% endif %}>Kayaking</option>
				<option value="Workout" {% if formattedType == 'Workout' %}selected="selected"{% endif %}>Workout</option>
				<option value="Yoga" {% if formattedType == 'Yoga' %}selected="selected"{% endif %}>Yoga</option>
			</select>

			<label>Durée</label>
			<input name="duration" type="time" value="{{workout.duration}}" step="1">

			<label>Début</label>
			<input type="datetime-local" name="start_date_local" value="{{ workout.date|date('Y-m-d\\TH:i') }}">

			<label>Description</label>
			<textarea name="description">{{ workout.content }}
				{{ workout.notes }}</textarea>

			<input type="submit" value="Créer">

		</form>

	</section>

	<style>
		.cell {
			display: table-cell;
			padding: 10px;
		}
		
	</style>

{% endblock subcontent %}